body{
    margin: 0;
}
.h5, h5 {
    font-size: 2rem !important;
}
.h3, h3 {
    font-size: 2.6rem !important;
}

.caveat{
    font-family: 'Caveat', cursive;
}
.close {
    /*float: right ;*/
    /*font-size: 1.5rem;*/
    /*font-weight: 700;*/
    /*line-height: 1;*/
    color: var(--orange)!important;
    text-shadow: 0 6px 0px #ffc107 !important;
    opacity: .9 !important;
}
.author_text{
    word-break: break-all;
    color: #B29567;
    white-space: pre-wrap;
    padding: 1vw;
    font-size: 2.8rem
}
#home-img{
    display: none;
}
.link{
    text-decoration: none;
    color: darkorange;
}
.link:hover{
    text-decoration: none;
    color: orangered;
}
.link:active{
    text-decoration: none;
    color: chocolate;
}
.my_btn{
    border: 1px darkorange solid;
    border-radius: 27px;
    text-decoration: none;
    color: darkorange;
    padding: 1vw 4vw 1vw 4vw;
    text-align: center;
    font-size: 6.8vw;
    background-color: transparent;
}
.my_btn:hover{
    text-decoration: none;
    background-color: darkorange;
    color: black;
}
.main_background{
    background: black;
    color: darkorange;
    min-height: 100vh;
}
.main-home{
    position: absolute;
    /*top: 0;*/
    /*left: 0;*/
    max-height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}
#link-rotate-project{
    position: absolute;
    top: 79vh;
    left: 16vw;
    transform: rotate(6deg);
    width: 381px;
    text-align: center;
    font-size: 7rem;
}
#rotate-adminka{
    position: absolute;
    top: 5vh;
    left: 76vw;
    transform: rotate(-18deg);
	width: 175px;
    text-align: center;
    font-size: 3rem;
}
#link-rotate-book{
    position: absolute;
    top: 20vh;
    left: 9vw;
    transform: rotate(-12deg);
    width: 381px;
    text-align: center;
    font-size: 7rem;
}
#link-rotate-blog{
    position: absolute;
    top: 39vh;
    left: 45vw;
    transform: rotate(-1deg);
    width: 381px;
    text-align: center;
    font-size: 7rem;
}
#link-rotate-q{
    position: absolute;
    top: 1vh;
    left: 2vw;
    text-align: center;
    width: 130px;
    font-size: 6rem;
}
#link-rotate-verse{
    position: absolute;
    top: 59vh;
    left: 25vw;
    transform: rotate(7deg);
    width: 381px;
    text-align: center;
    font-size: 7rem;
}

#rotate-username{
    position: absolute;
    top: 3vh;
    left: 25vw;
    font-size: 4rem;
}
/*###########################################*/
.hidden{
    display: none;
}
.hidden_home_bloc{
       position: relative;
    top: 2vh;
    /* left: 4vw; */
    /* width: 100vw; */
    height: 97vh;
    background-color: rgba(10,10,10, 0.94);
    border: 4px solid darkorange;
    overflow-y: auto;
}
.div_link{
    display: block;
    position: fixed;
    width: 98vw;
    height: 7rem;
    overflow: hidden;
    font-size: 4rem;
    background-color: rgba(10,10,10, 0.85);
    border-bottom: 4px solid darkorange;
    text-align: center;
    z-index: 2;
}
.list_content{
    position: relative;
    top: 7rem;
}
.div_link_list{
    display: block;
    font-size: 4rem;
    padding: 1rem;
    color: orange;
    border-bottom: 2px solid darkorange;
    /*text-align: center;*/
}
.div_link_list:hover{
    text-decoration: none;
    color: orangered;
}
#div-link-lit-book{
    height: 5.5vh;
}
/*////////////// SCROLL /////////////////////*/
::-webkit-scrollbar {
    width: 0px;
    overflow: visible;
    height: 0px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,69,0,0.4);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,69,0,0.2);
}

/*//////////////////////////////////////////////////*/
.verse_background{
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(10,10,10, 0.65);
}
.verse_inner_block{
    position: relative;
    top: 2vh;
    left: 2vw;
    width: 96vw;
    height: 90vh;
    background-color: rgba(10,10,10, 0.94);
    border: 4px solid darkorange;
    overflow-y: auto;
}

#close-verse{
    position: relative;
    left: -1vw;
    font-size: 4.5rem;
    z-index: 2;
}
#div-link-verse{
    padding-left: 2rem;
    width: 94vw;
    text-align: unset;

}
#div-verse-description{
    position: relative;
    top: 6vh;
    padding: 2vw;
}
/*############### DIARY ###########################*/

#div-link-diary{
    padding-left: 2rem;
    width: 95vw;
    text-align: unset;
    /*height: 3rem;*/
}
.diary_inner_block{
    position: relative;
    top: 2vh;
    left: 2vw;
    width: 97vw;
    height: 90vh;
    background-color: rgba(10,10,10, 0.94);
    border: 4px solid darkorange;
    overflow: hidden;
}
#diary-list-block{
    position: absolute;
    display: -webkit-box;
    top: 7rem;
    left: 0rem;
    /* padding: 10px; */
    height: 10vh;
    width: 95vw;
    border-bottom: 4px solid darkorange;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 2;
    flex: none !important;
    max-width: none !important;
}
#diary-text-block{
    position: relative;
    top: 20rem;
    left: -1rem;
    padding-left: 35px;
    height: 71vh;
    overflow-y: auto;
    flex: none !important;
    max-width: none !important;
}
#diary-title-link{
    border-right: 2px solid darkorange;
    border-bottom: none;
    width: 62vw !important;
    overflow-y: hidden;
    font-size: 2.5rem;
}
/*#################### LOGIN #############################*/
.login_inner_block{
    position: relative;
    top: 25vh;
    left: 14vw;
    width: 70vw;
    height: 40vh;
    background-color: rgba(10,10,10, 0.94);
    border: 4px solid darkorange;
}
#div-link-login{
    padding-left: 2rem;
    width: 68vw;
    height: 5rem;
    text-align: unset;
}
#div-link-logon{
    padding-left: 2rem;
    width: 78vw;
    height: 3rem;
    text-align: unset;
}
#div-login-description{
    position: relative;
    top: 5vh;
    padding: 3vw;
}
#btn-log-in{
    position: absolute;
    top: 25vh;
    left: 29vw;
    padding: 0.5rem 3rem 0.5rem 3rem;
}
#id_username{
    font-size: 2.6rem;
    height:5vh !important;
}
#id_password, #id_password1, #id_password2{
    font-size: 2.6rem;
    height:5vh !important;
}
#link-log-on{
    position: absolute;
    top: 17rem;
    left: 5vw;
}
#logon-inner-block{
    top: 7vh;
    left: 7vw;
    height: 57vh;
    width: 80vw;
}
#err-text{
    font-size: 1.2rem;
    color: red;
}
#text-logout{
    font-size: 3.5rem;
}
/*###################### LIST_BOOK #####################*/
.navi{
    position: relative;
    top: -4vh;
    /*left: 4vw;*/
    display: flex;
    width: 90%;
    height: 7rem;
    overflow: hidden;
}
#link-chapter-previous{
    position: relative;
    top: 1vh;
    font-size: 3.7rem;
    /*left: 0px;*/
}
#link-chapter-list{
    position: relative;
    /*top: 0px;*/
    /*left: 20px;*/
}
#link-chapter-list-h3{
    position: relative;
    top: 1.6vh;
    left: 4vw;
    max-width: 46vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#link-chapter-Next{
    position: relative;
    top: 1vh;
    left: 6vw;
    font-size: 3.7rem;
}
#list-chapter{
    position: relative;
    width: 77vw;
    top: 1vh;
    overflow: hidden;
    padding-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.navi_chapter{
    width: 10vw;
}