{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Haron</title>

{#    <link rel="stylesheet" type="text/css" media="(max-device-width: 1080px) or (orientation : portrait)" href="{% static 'ahome/css/style_mob.css' %}">#}
    <link rel="stylesheet" type="text/css" media="(orientation : portrait)" href="{% static 'ahome/css/style_mob.css' %}">
{#    <link rel="stylesheet" type="text/css" media="(orientation : landscape)" href="{% static 'ahome/css/style_mob.css' %}">#}
    <link rel="stylesheet" type="text/css" media="(min-device-width: 1680px)" href="{% static 'ahome/css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static "ahome/img/favicon.ico" %}">
    <link rel="stylesheet" href="{% static 'ahome/css/bootstrap.min.css' %}" >
{#    <link rel="stylesheet" href="{% static 'ahome/css/style.css' %}">#}
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
</head>
<body>
    {#    {% include 'navbar.html' %}#}
    <div class="main_background">
    {% block home %}

    {% endblock home %}
     </div>
    <script src="{% static 'ahome/js/jquery.js' %}"></script>
    <script src="{% static 'ahome/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'ahome/js/scripts.js' %}"></script>
</body>
</html>
