{% extends 'ahome/base.html' %}
{% load static %}


{% block home %}
    <div class='main-home'>
        <img id="home-img" src="{% static 'ahome/img/home_img.jpg' %}" />
        {% if user.username %}
{#             <div id="rotate-username" class="caveat"><a href="" class="link">Приветствую Вас {{ user.username }}</a> </div>#}
             <div id="rotate-username" class="caveat"> Приветствую, {{ user.username }} </div>
            {% if user.is_superuser %}
                <a id="rotate-adminka" class="link" href="/admin">adminka</a>
            {% endif %}

        {% endif %}
        {% if user.is_staff %}
        <div id="link-rotate-project" class="caveat"> <a class="link" id="project-link" href="javascript:">Проекты</a> </div>
        {% endif %}
        <div id="link-rotate-book" class="caveat"> <a class="link " id="book-link" href="{% url 'list_book'%}">Рукописи</a>        </div>
        <div id="link-rotate-blog" class="caveat"><a class="link " id="blog-link" href="{% url 'diary' %}">Дневник</a>          </div>
        <div id="link-rotate-q"><a class="link " id="q-link" title="Авторизация" href="{% url 'log_in' %}">?</a>          </div>
        <div id="link-rotate-verse" class="caveat"><a class="link " id="verse-link" href="javascript:">Verse</a>          </div>
    </div>

    {#///  Project  ///#}
    <div class="hidden hidden_home_bloc" id="project-list">
        <a class="link div_link" href="" id="project-link-hide">Отмена</a>
        <div class="list_content">
{#            {% for elem in verse %}#}
                <a class="div_link_list caveat" href="http://192.168.0.200:8010">Chip Motors</a>
                <a class="div_link_list caveat" href="http://lisai">LisSolution</a>
{#            {% endfor %}#}
        </div>
    </div>
    {#///  Verse  ///#}
    <div class="hidden hidden_home_bloc" id="verse-list">
        <a class="link div_link" href="" id="verse-link-hide">Отмена</a>
        <div class="list_content">
            {% for elem in verse %}
                <a class="div_link_list caveat" href="{% url 'verse' elem.id %}">{{ elem.name }}</a>
            {% endfor %}
        </div>
    </div>
    {% block verse %}
    {% endblock verse %}

{% endblock %}